{{#partial "content"}}
    <p size="20">Sorry, the page you are looking for is either unavailable, or no longer exists.</p>
    <form action="/entries" method="get">
        <button class="button">Go back to entries</button>
    </form>
{{/partial}}
{{#partial "title"}}404 not found{{/partial}}

{{> hbs/base.hbs}}